/*Importar tipo de letra */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*Estilos generales*/
html {
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}

body {
  width: 900px;
  margin: auto;
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  animation: slidein 2s;
}
@media (max-width:480px) {
  body {
    width: 100%;
  }
}
@media (min-width:481px) and (max-width:890px) {
  body {
    width: 100%;
  }
}
img {
  box-shadow: 2px 2px 5px #02010a;
}
/*Estilos para header*/
header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.cabecera {
  width: 90%;
  margin: 0 auto;
  color: white;
}
.logo {
  float:left;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px #02010a;
  font-size: 28px;

}
nav {
  float: right;

}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 18px;
  position: relative;
}
nav a {
  text-decoration: none;
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: white;
  position: absolute;
  top:0;
  transition: all ease-in-out 350ms;
}
nav a:hover::before {
  width: 100%;
}

.active {
  color:red;
}
@media screen and (max-width:480px) {
  .logo {
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  nav {
    float: none;
    display: flex;
  }
  nav ul {
    margin: auto;
    margin-bottom: 5px;
  }
  nav a::before {
    height: 0;
  }
  nav li {
    padding-top: 5px !important;
  }
  nav a:hover {
    text-decoration: underline;
  }
}
/*Estilos para imagen central*/
.img_central {
  background-color:  #82c3a6;
  display: flex;
  flex-wrap: wrap;
}
.img_central img {
  margin: 1em auto;
  height: 80%;
  width: 90%;
}
.img_central p {
  width: 80%;
  margin: 0em auto 1em auto;
  text-align: center;
}
/*Estilos para imagen secundaria*/
.img_secundaria {
  background-color: #d5c75f;
  display: flex;
}
div[class*="col"] {
  width: 50%;
}
div[class*="col"] img {
  width: 79%;
  margin: 1em 10%;
  border: solid 1px black;
  transition: all ease-in-out 350ms;
}
div[class*="col"] p {
  text-align: center;
  margin:10px 0px;
}
div[class*="col"] a {
  display: block;
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0px;
  text-align: center;
}
@media screen and (max-width:480px) {
  .img_secundaria {
    flex-wrap: wrap;
  }
  div[class*="col"] {
    width: 100%;
  }
}
/*Animaciones para las imagenes*/
.col_izq img:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px 5px #82c3a6;
  border: solid 2px black;
}
.col_der img:hover {
  box-shadow: 2px 2px 5px #82c3a6;
  border: solid 2px black;
}
/*Estilos de la galería*/
.galery {
  display: flex;
  flex-wrap: wrap;
  background-color: #d5c75f;
  padding: 20px;
}
.galery img[class*="image"] {
  width: 30%;
  height: 100%;
  margin: 1em auto;
}
.galery img[class*="image"]:first-child {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.galery img[class*="image"]:nth-child(even) {
  -webkit-filter: grayscale (100%);
  filter: grayscale(100%);
}
.galery .image3 {
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
}
@media screen and (max-width:490px) {
  .galery img[class*="image"] {
    width: 100%;
  }
}
/*Estilos para el footer*/
.footer {
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  display: flex;
  padding: 20px;
  line-height: 1;
}

.footer div[id*="col-"] {
  width: 25%;
  padding: 0px 10px;
}
.footer div[id*="col-"] h3 {
  margin: 0;
}

#col-social i {
  margin-bottom: 10px;
  margin-right: 5px;
}

.fa-facebook-official {
  color: rgb(41, 18, 182);
}
.fa-twitter {
  color: rgb(47, 170, 209);
}
.fa-instagram {
  color: rgb(222, 62, 115);
}
@media screen and (max-width:480px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer div[id*="col-"] {
    width: 100%;
  }
}
@media (min-width:481px) and (max-width:700px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer div[id*="col-"] {
    width: 40%;
  }
}
/*Animation*/
@keyframes slidein {
  0% {margin-top: 150%;}
  60% {margin-top: -5%;}
  100% {margin-top: 0%;}
}
